{:paths   ["src" "resources" "classes"]
 :deps    {org.clojure/clojure    {:mvn/version "1.11.1"}
           djblue/portal          {:mvn/version "0.31.0"}
           io.github.hlship/trace {:mvn/version "v1.0"}}
 :aliases {}}
